language: groovy
sudo: false

matrix:
  include:
    - jdk: oraclejdk7
    - jdk: oraclejdk8
      addons:
        apt:
          packages:
            - oracle-java8-installer

install: true

script: ./gradlew -S test

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
